<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noindex, nofollow">
	<title>@(ViewBag.Title?? "QR CODE Management")</title>
	@Styles.Render("~/main_app/css")
	@Styles.Render("~/custom/css")

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	@RenderSection("HeadContent", false)
</head>
<body>
	<div id="wrapper" class="page-wrapper">
		<div class="container login-container">
			@RenderBody()
		</div>
		<div class="footer">
			<span>QR Code Generator</span><span class="separator">-</span><span>Powered by <a href="nthanhtrung269@gmail.com">nthanhtrung269@gmail.com</a></span><span class="separator">-</span><span>Copyright © 2016 - All Rights Reserved</span>
		</div>
	</div>
	
	@Scripts.Render("~/main_app/js")
	@RenderSection("BottomOfPageContent", false)
</body>
</html>
